.header {
    display: flex;
    flex-direction: row;
}

.header-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    /*The above code is written to make every div come below one another*/
    margin-right: 5rem;
}

.header-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
}

.header-content p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: var(--color-text);

    margin-top: 1.5rem;
}

.header-input {
    width: 100%;
    margin: 2rem 0 1rem;

    display: flex;
    flex-direction: row;
}

.header-input input {
    flex: 2; /*To give it more width*/
    width: 100%;
    min-height: 50px; /*To extend its height a little bit*/
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    background: var(--color-footer);
    border: 2px solid var(--color-footer);
    padding: 0 1rem;
    outline: none;
    color: #fff;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.header-input input:focus{
    background-color: #fff;
    color: var(--color-footer);
    border: none;
}

.header-input button {
    flex: 0.6;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    background: #FF4820;
    border: 2px solid #FF4820;
    padding: 0 1rem;
    color: #fff;
    cursor: pointer;
    outline: none;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    /*border-radius: 5px 0px 0px 5px; the above two lines replace this*/
}

.header-input button:hover{
    background-color: var(--color-footer);
    color: #fff;
    border: none;
}

.header-people {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center; /*This will make the images have normal height*/
    flex-direction: row;

    margin-top: 2rem;
}

.header-people img {
    width: 181.79px;
    height: 38px;
}

.header-people p {
    margin: 0 0 0 1rem;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 38px;
    color: #fff;
    text-align: center;
}

.header-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-image img {
    width: 100%;
    height: 100%;
}

@media(max-width: 1050px) {
    .header {
        flex-direction: column;
    }

    .header-content {
        margin: 0 0 3rem;
    }
}

@media(max-width: 650px) {
    .header-content h1 { /*Make the header smaller*/
        font-size: 48px;
        line-height: 60px;
    }

    .header-content p {
        font-size: 16px;
        line-height: 24px;
    }
    
    .header-people {
        flex-direction: column;
    }

    .header-people p {
        margin: 0;
    }

    .header-input input,
    .header-input button {
        font-size: 16px;
        line-height: 24px;
    }
}

@media(max-width: 490px) {
    .header-content h1 {
        font-size: 36px;
        line-height: 48px;
    }

    .header-content p {
        font-size: 14px;
        line-height: 24px;
    }

    .header-input input,
    .header-input button {
        font-size: 12px;
        line-height: 16px;
    }
}
